DOUBAO_API_KEY=YOUR_DOUBAO_API_KEY
TEXT_ENDPOINT=https://ark.cn-beijing.volces.com/api/v3/responses
VISION_ENDPOINT=https://ark.cn-beijing.volces.com/api/v3/responses   # 视觉模型IMAGE_ENDPOINT=https://ark.cn-beijing.volces.com/api/v3/images/generations  # 图生图端点

SERVER_HOST=0.0.0.0
SERVER_PORT=5000

export VOLC_ACCESSKEY='你的VOLC_ACCESSKEY'
export VOLC_SECRETKEY='你的VOLC_SECRETKEY'